@model TesteEditoraLivros.Models.RegisterModelView

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Usuários</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvatarUrl" class="control-label"></label>
                <input asp-for="AvatarUrl" class="form-control" />
                <span asp-validation-for="AvatarUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleProfile" class="control-label"></label>
                <select asp-for="RoleProfile" class="form-control">
                    @foreach(var role in Model.RoleList)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar Conta" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <h4>Lista de Usuários</h4>
        <hr />
        <table class="table" style="padding-top:3em">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Perfil de Acesso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RegisterList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NickName)
                        </td>
                        <td>
                            @(Model.RoleList.Where(i => i.Id == item.RoleId).FirstOrDefault().Name)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditAccount", "Account", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Books" asp-controller="Book">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
